*{
    padding: 0;
    margin: 0;
}
.cabecalho{
    background-color: #383D58;
    color: white;
    display:flex;
    justify-content: space-around;
    padding: 16px 0;
    align-items: center; 
}
.cabecalho-imagem{
    width: 15%;
    height: 15%;
}
.cabecalho-lista-item{
    display: inline-block;
    padding: 24px 0;
    margin: 0 16px;
    font-size: 24px;

}
.escola{
    background-image: linear-gradient(#383D58,#4EBFE9);
    color: white;
    display: flex;
    align-items: center;
    padding: 5%;
    justify-content: center;


}
.escola-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}
.escola-texto{
    padding: 10px;
    font-size: 18px; 
    font-weight: 400;
}

.escola-imagem{
    width: 25%;
}
.estudante{
    background-color:#D9D9D9;
}
.estudante-todos{
    display: grid;
    grid-template-columns: 13.5% 15% 15% 15% 15% 18%;
    gap: 1%;
    padding-left: 8%;
    
}
.estudante-div{
    text-align: center;
    padding: 3% 0;
}
.estudante-titulo{
    text-align: center;
    padding: 32px;
}




.estudante-imagem{
    width: 120px;
}

.estudante-icone{
    width: 24px;
}


.imagemrodape{ 
    width: 10%;
}
.rodape{
    background-color: #4EBFE9;
    text-align: center;
    align-items: center;
    padding: 30px;
    color: white;

}
